[submodule "/home/flagmate/.vim/bundle/Vundle.vim"]
	path = /home/flagmate/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".config/vifm/vifm_devicons"]
	path = .config/vifm/vifm_devicons
	url = https://github.com/cirala/vifm_devicons
